{
  "ApiSecrets": [
    {
      "Description": "description",
      "Value": "value",
      "Expiration": "2018-04-26T15:10:27.9544412+02:00",
      "Type": "SharedSecret"
    }
  ],
  "Scopes": [
    {
      "Name": "name",
      "DisplayName": "disp name",
      "Description": null,
      "Required": false,
      "Emphasize": false,
      "ShowInDiscoveryDocument": true,
      "UserClaims": [
        "claim1"
      ]
    }
  ],
  "Enabled": true,
  "Name": "Name",
  "DisplayName": "Display Name",
  "Description": "Description",
  "UserClaims": [
    "userClaim1"
  ]
}