@model WebApplication2.Areas.Users.Home.EditViewModel

@{
    ViewBag.Title = "User " + Model.Username;
}

<form class="form-inline">

</form>

@section scripts{
    @*<script src='@Url.ContentRoot(Links.jquery_bundle_min_js)'></script>
    <script src='@Url.ContentRoot(Links.DatePicker_bundle_min_js)'></script>

    <script type="text/javascript">
            $(function () {
                $('.dataDa').datetimepicker({
                    locale: '@System.Globalization.CultureInfo.CurrentCulture.Name',//onTmsClientLocale, //"it-IT",
                    format: "L",
                });
            });
    </script>*@
}
